#!/bin/bash
set -e

CERT="/etc/patroni/ssl/server.crt"
KEY="/etc/patroni/ssl/server.key"
CA_CERT="/etc/patroni/ssl/ca.crt"
PATRONI_API="https://127.0.0.1:8008"
LOGFILE="/var/log/check_patroni.log"

# ???????? ??? ???????? ????
LOCAL_NODE=$(hostname -s)

# ???????? ??? ??????
LEADER_NODE=$(curl -k -s --cert "$CERT" --key "$KEY" --cacert "$CA_CERT" \
"$PATRONI_API/cluster" | jq -r '.members[] | select(.role == "leader") | .name')

echo "$(date): ??????? ????: $LOCAL_NODE | ?????: $LEADER_NODE" >> "$LOGFILE"

if [[ "$LOCAL_NODE" == "$LEADER_NODE" ]]; then
    echo "$(date): ???? $LOCAL_NODE ???????? ???????" >> "$LOGFILE"
    exit 0
else
    echo "$(date): ???? $LOCAL_NODE ?? ???????? ???????" >> "$LOGFILE"
    exit 1
fi