#!/bin/bash
set -e

# Настройки
PATRONI_API="http://127.0.0.1:8008"
MASTER_ENDPOINT="$PATRONI_API/master"
LOGFILE="/var/log/check_patroni.log"

# Получаем имя текущей ноды
LOCAL_NODE=$(hostname -s)

echo "$(date): Проверка состояния ноды $LOCAL_NODE" >> "$LOGFILE"

# Выполняем HEAD-запрос к /master и получаем HTTP-код
RESPONSE_CODE=$(curl -sI "$MASTER_ENDPOINT" | grep "HTTP/" | awk '{print $2}')

if [[ "$RESPONSE_CODE" == "200" ]]; then
    echo "$(date): Нода $LOCAL_NODE является мастером (HTTP $RESPONSE_CODE)" >> "$LOGFILE"
    exit 0
else
    echo "$(date): Нода $LOCAL_NODE НЕ является мастером (HTTP $RESPONSE_CODE)" >> "$LOGFILE"
    exit 1
fi